# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=2_gnu
addict=2.4.0=pypi_0
aiofiles=23.2.1=pypi_0
aliyun-python-sdk-core=2.15.0=pypi_0
aliyun-python-sdk-kms=2.16.2=pypi_0
asttokens=2.4.1=pypi_0
backcall=0.2.0=pypi_0
blinker=1.7.0=pypi_0
bzip2=1.0.8=hd590300_5
ca-certificates=2024.2.2=hbcca054_0
certifi=2024.2.2=pypi_0
cffi=1.16.0=pypi_0
chardet=5.2.0=pypi_0
charset-normalizer=3.3.2=pypi_0
chumpy=0.70=pypi_0
click=7.1.2=pypi_0
colorama=0.4.6=pypi_0
comm=0.2.2=pypi_0
contourpy=1.1.1=pypi_0
crcmod=1.7=pypi_0
cryptography=42.0.5=pypi_0
cudatoolkit=11.1.74=h6bb024c_0
cudnn=8.0.4=cuda11.1_0
cycler=0.12.1=pypi_0
cython=3.0.10=pypi_0
debugpy=1.8.1=pypi_0
decorator=5.1.1=pypi_0
dnspython=2.6.1=pypi_0
efficientnet-pytorch=0.7.1=pypi_0
email-validator=2.1.1=pypi_0
executing=2.0.1=pypi_0
fastapi=0.62.0=pypi_0
filelock=3.13.3=pypi_0
flask=3.0.2=pypi_0
flask-cors=4.0.0=pypi_0
fonttools=4.50.0=pypi_0
fsspec=2024.3.1=pypi_0
h11=0.14.0=pypi_0
huggingface-hub=0.22.2=pypi_0
idna=3.6=pypi_0
importlib-metadata=7.1.0=pypi_0
importlib-resources=6.4.0=pypi_0
ipykernel=6.29.4=pypi_0
ipython=8.12.3=pypi_0
itsdangerous=2.1.2=pypi_0
jedi=0.19.1=pypi_0
jinja2=3.1.3=pypi_0
jmespath=0.10.0=pypi_0
json-tricks=3.17.3=pypi_0
jupyter-client=8.6.1=pypi_0
jupyter-core=5.7.2=pypi_0
kiwisolver=1.4.5=pypi_0
ld_impl_linux-64=2.40=h41732ed_0
libffi=3.4.2=h7f98852_5
libgcc-ng=13.2.0=h807b86a_5
libgomp=13.2.0=h807b86a_5
libnsl=2.0.1=hd590300_0
libsqlite=3.45.2=h2797004_0
libstdcxx-ng=13.2.0=h7e041cc_5
libuuid=2.38.1=h0b41bf4_0
libxcrypt=4.4.36=hd590300_1
libzlib=1.2.13=hd590300_5
markdown=3.6=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.5=pypi_0
matplotlib=3.7.5=pypi_0
matplotlib-inline=0.1.6=pypi_0
mdurl=0.1.2=pypi_0
mmcv=2.0.1=pypi_0
mmdet=3.2.0=pypi_0
mmengine=0.10.3=pypi_0
mmpose=1.3.1=pypi_0
mmyolo=0.6.0=pypi_0
model-index=0.1.11=pypi_0
munch=4.0.0=pypi_0
munkres=1.1.4=pypi_0
ncurses=6.4.20240210=h59595ed_0
nest-asyncio=1.6.0=pypi_0
numpy=1.24.4=pypi_0
opencv-python=4.9.0.80=pypi_0
opendatalab=0.0.10=pypi_0
openmim=0.3.9=pypi_0
openssl=3.2.1=hd590300_1
openxlab=0.0.37=pypi_0
ordered-set=4.1.0=pypi_0
oss2=2.17.0=pypi_0
packaging=24.0=pypi_0
pandas=2.0.3=pypi_0
parso=0.8.4=pypi_0
pexpect=4.9.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=10.3.0=pypi_0
pip=24.0=pyhd8ed1ab_0
platformdirs=4.2.0=pypi_0
pretrainedmodels=0.7.4=pypi_0
prettytable=3.10.0=pypi_0
prompt-toolkit=3.0.43=pypi_0
psutil=5.9.8=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.2=pypi_0
pycocotools=2.0.7=pypi_0
pycparser=2.22=pypi_0
pycryptodome=3.20.0=pypi_0
pydantic=1.10.15=pypi_0
pygments=2.17.2=pypi_0
pyjwt=1.7.1=pypi_0
pyngrok=7.1.6=pypi_0
pyparsing=3.1.2=pypi_0
python=3.8.19=hd12c33a_0_cpython
python-dateutil=2.9.0.post0=pypi_0
python-decouple=3.3=pypi_0
python-multipart=0.0.9=pypi_0
pytz=2023.4=pypi_0
pyyaml=6.0.1=pypi_0
pyzmq=25.1.2=pypi_0
readline=8.2=h8228510_1
requests=2.31.0=pypi_0
rich=13.4.2=pypi_0
safetensors=0.4.2=pypi_0
scipy=1.10.1=pypi_0
segment-anything=1.0=pypi_0
segmentation-models-pytorch=0.3.3=pypi_0
setuptools=60.2.0=pypi_0
shapely=2.0.3=pypi_0
six=1.16.0=pypi_0
stack-data=0.6.3=pypi_0
starlette=0.13.6=pypi_0
tabulate=0.9.0=pypi_0
termcolor=2.4.0=pypi_0
terminaltables=3.1.10=pypi_0
timm=0.9.2=pypi_0
tk=8.6.13=noxft_h4845f30_101
tomli=2.0.1=pypi_0
torch=1.9.0+cu111=pypi_0
torchvision=0.10.0+cu111=pypi_0
tornado=6.4=pypi_0
tqdm=4.65.2=pypi_0
traitlets=5.14.2=pypi_0
typing-extensions=4.11.0=pypi_0
tzdata=2024.1=pypi_0
urllib3=1.26.18=pypi_0
uvicorn=0.12.3=pypi_0
wcwidth=0.2.13=pypi_0
werkzeug=3.0.2=pypi_0
wheel=0.43.0=pyhd8ed1ab_1
xtcocotools=1.14.3=pypi_0
xz=5.2.6=h166bdaf_0
yapf=0.40.2=pypi_0
zipp=3.18.1=pypi_0
